/* Variables */

:root {
  --basic-background: #f1f5f7;
  --white: #ffffff;
  --basic-blue: #293449;
  --basic-bluelight: #32425C;
  --basic-nav: rgba(255, 255, 255, 0.5);
  --basic-active-nav: #161d29;
  --success: #5fbb2d;
  --basic-green: #63a63e;
  --basic-icon: rgba(255, 255, 255, 0.3);
  --header-activate: #1d2739;
  --basic-greylight: #c5c5c5;
  --basic-red: #ee3643;
  --basic-black: #000000;
  --special-yellowlight: #ffd180;
  --phone: #b7bfc8;
  --error: #ba2732;
  --discount: #a9a9a9;
  --filter: #b5b5b5;
  --greylight: #eaeaea;
  --social-background: #212A3A;
  --popular-background: #f9f5f0;
  --filter-background: #f7f3ec;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellow2: #ffc047;
  --bg-opacity: rgba(255, 255, 255, 0.3);
  --bg-opacity-hover: rgba(197, 197, 197, 0.3);
  --bg-opacity-active: rgba(169, 169, 169, 0.3);
  --modal-shadow: rgba(0, 0, 0, 0.15);
  --modal-background: #f4f4f4;
  /* пока не используемые */
 
  --basic-grey: #3d546f;
  --warning: #ffbf47;
  
}

/* Global */

body {
  min-width: 960px;
  font-family: "cuprum", Arial, sans-serif;
  font-size: 18px;
  color: var(--basic-black);
  background-color: var(--white);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

a:focus {
  outline: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Header */

.header-all {
  background-color: var(--basic-background);
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  padding: 12px 0 12px 0;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
  border: 0;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #CA2C37;
}

.btn:active {
  background-color: var(--error);
}

.btn-transparentize {
  width: 135px;
  background-color: var(--bg-opacity);
}

.btn-transparentize:hover,
.btn-transparentize:focus {
  background-color: var(--bg-opacity-hover);
}

.btn-transparentize:active {
  background-color: var(--bg-opacity-active);
}

/* Header-Top */

.header-top {
  background-color: var(--basic-blue);
  margin-bottom: 43px;
}

.header-top .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  display: flex;
  background-color: var(--basic-red);
  box-shadow: 0 5px var(--error);
}

.header-logo {
  padding: 13px 56px 11px;
}

.logo:hover,
.logo:focus {
  background-color: var(--basic-red);
}

.logo:active {
  background-color: var(--error);
}






.search {
  position: relative;
  flex-grow: 1;
}

.search-input {
  width: 100%;
  outline: none;
  border-radius: 0;
  border: 0;
  padding-top: 12px;
  padding-left: 42px;
  padding-bottom: 10px;
  background-color: var(--basic-blue);
}

.search-input::placeholder {
  color: var(--white);
}

.search-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 55%;
  left: 11px;
  transform: translateY(-50%);
  opacity: 0.3;
  color: var(--white);
}

.search-icon {
  fill: currentColor;
}

.search-input:hover {
  opacity: 1;
}

.search-input:active::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.search-input:focus {
  background-color: var(--white);
}

.search-input:hover ~ .search-btn {
  opacity: 1;
}

.search-input:focus ~ .search-btn {
  color: var(--basic-red);
  opacity: 1;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
display: none;
}


.header-top-link {
  color: var(--white);
  display: block;
}

.header-top-link:hover,
.header-top-link:focus {
  color: var(--white);
  background-color: var(--basic-blue);
}

.header-top-link:active {
  color: var(--basic-nav);
  background-color: var(--basic-active-nav);
}

.header-top-link-bookmark {
  padding: 10px 38px 8px 40px;
  position: relative;
}

.header-top-link-bookmark::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 17px;
  width: 16px;
  height: 18px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-top-link-bookmark:hover::before,
.header-top-link-bookmark:focus::before,
.header-top-link-cart:hover::before,
.header-top-link-cart:focus::before {
  opacity: 1;
}

.header-top-link-bookmark:active::before,
.header-top-link-cart:active::before {
  opacity: 0.3;
}

.header-top-link-cart {
  padding: 10px 26px 8px 36px;
  position: relative;
}

.header-top-link-cart::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-top-link-order {
  padding: 12px 18px 10px 18px;
  background-color: var(--basic-green);
}

.header-top-link-order:hover,
.header-top-link-order:focus {
  background-color: var(--success);
}

.header-top-link-order:active {
  background-color: var(--basic-green);
}


/* Header-Middle */

.header-middle {
  display: flex;
  justify-content: space-between;
}

.header-tehnomart-title {
  font-size: 16px;
  font-style: italic;
  font-weight: normal;
  line-height: 23px;
  color: var(--basic-red);
  margin: 0;
  padding: 0;
  width: 210px;
  margin-left: 30px;
}

.header-contacts {
  width: 300px;
}

.header-phone {
  position: relative;
  border: 3px solid var(--white);
  padding-top: 7px;
  padding-bottom: 7px;
  width: 265px;
  margin-top: 3px;
  margin-left: 20px;
}

.header-phone-number {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  margin-left: 71px;
  color: var(--basic-red);
}

.header-phone-number::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 36px;
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  fill: red;
}



.header-address{
  font-size: 14px;
  color: var(--basic-bluelight);
  margin: 0;
  padding-top: 8px;
  padding-left: 31px;
}





.user-navigation {
  display: flex;
  position: relative;
  margin: 0;
  font-size: 21px;
}

.user-navigation a {
  margin-top: 2px;
  display: block;
  color: var(--basic-black);
  background-color: var(--white);
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: var(--basic-red);
  background-color: var(--white);
}

.user-navigation a:active {
  color: var(--basic-greylight);
  background-color: var(--white);
}

/* Login link */

.login-link {
  align-self: flex-start;
  display: block;
  margin-right: 10px;
  padding-top: 11px;
  padding-right: 28px;
  padding-bottom: 11px;
  padding-left: 20px;
}


/* .login-link::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 19px;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  fill: var(--basic-bluelight);
  box-sizing: inherit;
} */
.login-link svg {
  position: relative;
  top: 2px;
  right: 2px;
  fill: var(--basic-greylight);
}

.login-link svg:hover,
.login-link svg:focus {
  fill: var(--basic-grey);
}

.login-link svg:active {
  fill: var(--basic-greylight);
}


.registration  {
  align-self: flex-start;
  padding-top: 11px;
  padding-right: 24px;
  padding-bottom: 11px;
  padding-left: 24px;
  
}

/* Header-Nav */

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--basic-bluelight);
  list-style: none;
  box-shadow: 0 5px var(--basic-blue);
  margin-top: 44px;
  margin-bottom: 65px;
  padding: 0 18px 0 23px;
  font-style: normal;
  font-weight: normal;
}

.header-nav a {
  padding-top: 19px;
  padding-right: 25px;
  padding-bottom: 16px;
  padding-left: 25px;
  color: var(--white);
  display: block;
  
}

.header-nav a:hover,
.header-nav a:focus {
  color: var(--white);
  background-color: var(--basic-blue);
}

.header-nav a:active {
  color: var(--basic-nav);
  background-color: var(--header-activate);
}

/*Index catalog*/

.features {
  margin-top: 38px;
  margin-bottom: 59px;
}

.features-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  color: var(--white);
  background-repeat: no-repeat;
}

.features-item h3 {
  margin: 0;
  font-size: 24px;
  padding-top: 22px;
  padding-left: 22px;
}

.features-item-materials {
  background-color: var(--special-yellow);
  background-image: url(../img/icon-1.svg);
  position: relative;
  background-position: 213px 31px;
}

.features-item-tool {
  background-color: var(--special-blue);
  background-image: url(../img/icon-2.svg);
  background-position: 194px 34px;
}

.features-item-technique {
  background-color: var(--special-lilac);
  background-image: url(../img/icon-3.svg);
  background-position: 191px 31px;
}

.features-item-off50 {
  background-color: var(--special-greenlight);
  background-image: url(../img/icon-4.svg);
  background-position: 196px 27px;
}

.features-item-delivery {
  background-color: var(--special-yellow2);
  background-image: url(../img/icon-5.svg);
  background-position: 191px 32px;
}

.features-item-slider {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
  position: relative;
}

.features-link {
  margin-top: 15px;
  margin-left: 22px;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  min-width: 620px;
  height: 266px;
  background-image: url(../img/hammerdrill.jpg);
  background-repeat: no-repeat;
  position: relative;
}

.slide {
  display: none;
}

.slide p {
  margin: 0;
  padding-top: 8px;
  padding-left: 24px;
}

.slide-current {
  display: block;
}

.features-item-slider .slide-title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  padding-top: 23px;
  padding-left: 24px;
  text-transform: uppercase;
}

.slide-button {
  width: 192px;
  position: absolute;
  top: 201px;
  left: 24px;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 295px;
  z-index: 20;
  display: flex;
  width: 30px;
  align-items: flex-end;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  background-color: var(--basic-red);
}

.slide-arrow {
  position: absolute;
  top: 53%;
  width: 21px;
  height: 39px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.slide-arrow-prev {
  left: 25px;
  background-image: url(../img/icon-left.svg);
}

.slide-arrow-next {
  right: 22px;
  background-image: url(../img/icon-right.svg);
}

/* Service slider */

.service {
  background-color: var(--basic-background);
  margin-bottom: 36px;
  padding-bottom: 14px;
}

.service-title {
  margin: 0;
  padding-top: 64px;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.service-description {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding-top: 21px;
}

.service-wrapper {
  display: flex;
  margin-top: 70px;
}

.service-slider-label {
  display: block;
  font-size: 21px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--basic-bluelight);
  box-shadow: 0px 1px 0px var(--basic-blue), inset 0px 1px 0px #405069;
  padding: 18px 139px 20px 22px;
  cursor: pointer;
}

.service-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.service-item {
  display: none;
}

/* .service-item-title {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var var(--basic-bluelight);
  padding: 0;
  margin: -3px 0 0 80px;
}

.service-item-description {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 25px;
  margin-top: 26px;
  margin-left: 80px;
  margin-right: 346px;
  margin-bottom: 0;
  padding-bottom: 114px; */
}

.service-item-delivery {
  background-image: url(../img/delivery.png);
  background-position: 232px 23px;
  background-repeat: no-repeat;
}

.service-item-title-delivery {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var var(--basic-bluelight);
  padding: 0;
  margin: -3px 0 0 80px;
}

.service-item-description-delivery {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 25px;
  margin-top: 26px;
  margin-left: 80px;
  margin-right: 346px;
  margin-bottom: 0;
  padding-bottom: 114px;
}





.service-item-garanty {
  background-image: url(../img/guarantee.png);
  background-position: 319px -1px;
  background-repeat: no-repeat; 
}

.service-item-title-garanty {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var var(--basic-bluelight);
  padding: 0;
  margin: 3px 0 -6px 80px;
}

.service-item-description-garanty {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 25px;
  margin-top: 26px;
  margin-left: 80px;
  margin-right: 300px;
  margin-bottom: 0;
  padding-bottom: 114px;
}





.service-item-credit {
  background-image: url(../img/delivery.png);
  background-position: 232px 23px;
  background-repeat: no-repeat;
}

.service-item-title-credit {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: var var(--basic-bluelight);
  padding: 0;
  margin: -3px 0 0 80px;
}

.service-item-description-credit {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 25px;
  margin-top: 26px;
  margin-left: 80px;
  margin-right: 346px;
  margin-bottom: 0;
  padding-bottom: 114px;
}





.service-slider-input-delivery:checked ~ .service-wrapper .service-item-delivery,
.service-slider-input-garanty:checked ~ .service-wrapper .service-item-garanty,
.service-slider-input-credit:checked ~ .service-wrapper .service-item-credit {
  display: block;
}

.service-slider-input-delivery:checked ~ .service-list .service-item-delivery {
  display: block;
}

/* goods */

.home-page-title {
  display: flex;
  align-items: center;
  padding: 26px 14px 25px 28px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425C;
  background-color: var(--popular-background);
}

.popular-goods {
  margin-bottom: 70px;
}

.home-page-title-link   {
  width: 192px;
  margin-left: auto;
}

.popular-manufacturers {
  margin-bottom: 70px;
}

.popular-manufacturers-title {
  padding-right: 19px;
}

.brand-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.brand-item {
  height: 143px;
  border: 1px solid var(--greylight);
}

.brand-item:hover,
.brand-item:focus {
  box-shadow: 0px 4px 4px #cfcfcf;

}

.brand-item:active {
  opacity: 0.5;
  box-shadow: 0px 4px 4px #cfcfcf;
}

.brand-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* about-and-contacts */

.about-and-contacts {
  margin-top: 69px;
  margin-bottom: 69px;
  color: var(--basic-black);
}

.about-and-contacts .container {
  display: flex;
  justify-content: space-between;
}

.about-and-contacts h2 {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}

.about-left {
  width: 478px;
}

.about-and-contacts p {
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 25px;
  margin: 0;
  margin-top: 20px;
}

.about-left p:nth-child(3) {
  margin-top: 25px;
  padding-right: 50px;
}

.transport-companies {
  padding: 0;
  margin-top: 3px;
  margin-bottom: 20px;
}

.transport-companies li {
  list-style: none;
  position: relative;
  margin-bottom: 16px;
  padding-left: 37px;
}

.transport-companies li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 25px;
  height: 2px;
  margin-top: -1px;
  transform: translateY(-50%);
  background-color: var(--basic-red);
}

.btn-transport-companies-link {
  width: 220px;
  
}

.about-right {
  width: 300px;
}

.about-right p:nth-child(2) {
  padding-right: 90px;
  margin-bottom: 33px;
}

.btn-about-link {
  width: 300px;
  margin-top: 20px;
}

.map {
}




.about-hammer-drill {
  background-color: var(--basic-background);  
}

.about-hammer-drill h2 {
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding-top: 63px;
}

.about-hammer-drill p {
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 70px;
}

/* footer */

.footer-all {
}

.footer-top-middle {
  background-color: var(--basic-bluelight);
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-logo {
  padding: 21px 41px 20px;
}

.footer-nav-top {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  list-style: none;
}

.footer-nav-top a {
  color: var(--basic-background);
  display: block;
}

.footer-nav-top li {
  margin-right: 59px;
}

.footer-nav-top li:last-child {
  margin-right: 0;
}

.footer-nav-top a:hover,
.footer-nav-top a:focus {
  text-decoration: underline;
}

.footer-nav-top a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
}

.footer-middle p {
  padding: 0;
  margin: 0;
  line-height: 24px;
  margin-left: 3px;
  margin-bottom: 53px;
  color: var(--white);
}

.footer-nav-middle {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 6px;
  padding: 0;
  list-style: none;
}

.footer-nav-middle a{
  color: var(--special-yellowlight);
  display: block;
}

.footer-nav-middle li {
  margin-right: 59px;
}

.footer-nav-middle li:last-child{
  margin-right: 0px;
}

.footer-nav-middle a:hover,
.footer-nav-middle a:focus {
  text-decoration: underline;
}

.footer-nav-middle a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-end {
  font-size: 16px;
  color: var(--white);
  background-color: var(--basic-blue);
}

.footer-end .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-copyright {
  min-width: 225px;
  margin-top: 36px;
  margin-bottom: 35px;
}

.footer-social {
  margin-left: 164px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  background-color: var(--social-background);
  border-radius: 30px;
  color: inherit;
  margin-top: 36px;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red);
}

.htmlacademy-mail {
  margin-top: 36px;
  margin-left: 120px;
}

.htmlacademy {
  margin-top: 36px;
  margin-left: 52px;
}

.htmlacademy a,
.htmlacademy-mail a {
  color: var(--special-yellowlight);
}

.htmlacademy a:hover,
.htmlacademy a:focus,
.htmlacademy-mail a:hover,
.htmlacademy-mail a:focus {
  text-decoration: underline;
}

.htmlacademy a:active,
.htmlacademy-mail a:active {
  color: var(--basic-red);
  text-decoration: none;
}

/* modal */

.modal {
  display: none; 
  position: fixed;
  margin: auto;
  background-color: var(--white);
  border-top: 7px solid var(--basic-red);
  z-index: 30;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Write Us*/

.write-us {
  display: none;
  width: 620px;
  padding-top: 42px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 20px var(--modal-shadow);
}

.form-contact-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px;
  position: relative;
}

.form-contact-us p {
  margin: 0;
}

.form-contact-us label {
  display: block;
  font-size: 18px;
  font-weight: normal;
  color: var(--basic-black);
  margin-bottom: 12px;
  padding-left: 1px;
}

.form-contact-us input {
  width: 186px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  padding: 10px 19px 10px 11px;
}

.form-contact-us input,
.form-contact-us textarea {
  font-family: PT Sans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  color: var(--discount);
}

.form-contact-us .communication {
  margin-top: 17px;
}

.form-contact-us textarea {
  width: 428px;
  height: 92px;
  padding: 9px 17px 9px 11px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  resize: none;
}

.write-us-footer {
  margin-top: 31px;
  padding: 37px 80px 17px 80px;
  background-color: var(--modal-background);
}

.btn-contact-us {
  width: 100%;
  padding: 10px 0;
  background-color: var(--basic-red);
  font-family: Cuprum;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
}

.close-modal {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

.close-modal::before,
.close-modal::after {
  content: '';
  position: absolute;
  top: 22px;
  right: 8px;
  width: 27px;
  height: 4px;
  border-radius: 1px;
  background: var(--basic-red);
}

.close-modal::before {
  transform: rotate(45deg);
}

.close-modal::after {
  transform: rotate(-45deg);
}

/* Modal map */

.modal-map {
  width: 943px;
  height: 442px;
  box-shadow: 0 5px 20px var(--modal-shadow);
}

.modal-map img {
  display: block;
}

.modal-map iframe {
  border: none;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-map .close-modal::before,
.modal-map .close-modal::after {
  top: 18px;
  right: 6px;
}

/* Modal Cart */

.modal-cart {
  width: 620px;
  box-shadow: 0 4px 20px var(--modal-shadow);
}

.add-to-cart {
  display: flex;
  padding-top: 49px;
  padding-left: 81px;
}

.tick {
  position: relative;
  margin: 0 29px 0 0;
  width: 67px;
  height: 67px;
  background-color: var(--basic-green);
  border-radius: 50%;
}

.tick::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 17px;
  width: 27px;
  height: 12px;
  border: 7px solid var(--white);
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
}

.add-to-cart h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  color: var(--basic-black);
  align-self: center;
}

.btn-modal-cart {
  display: flex;
  justify-content: space-between;
  padding: 38px 111px 38px 114px;
  margin-top: 27px;
  background-color: #f1f1f1;
}

.btn-modal-cart button {
  width: 192px;
}

.proceed {
  color: var(--basic-black);
  background-color: var(--white);
}

/*catalog*/

.login {
  font-size: 21px;
  line-height: 21px;
}

.login a {
  color: var(--basic-black);
  background-color: var(--white);
}

.login a:active {
  color: var(--basic-greylight);
  background-color: var(--white);
}


.login-menu {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-bluelight);
  background-color: var(--basic-background)
}

.login-menu a:hover,
.login-menu a:focus {
  color: var(--basic-red);
  background-color: var(--basic-background);
}

.login-menu a:active {
  color: var(--basic-greylight);
  background-color: var(--basic-background);
}

.page-title {
  font-size: 30px;
  font-weight: normal;
  background-color: var(--basic-background);
  color: var(--basic-bluelight);
  text-transform: uppercase;
  grid-column: 1 / -1;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 28px;
  padding-left: 29px;
  padding-bottom: 27px;
}

.filter-items {

  display: grid;
  grid-template-columns: 220px 1fr;
  align-content: start;
}





.page-catalog .page-title {

}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: var(--basic-black);
  list-style: none;
  font-family: PT Sans;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  padding: 0;
  margin: 0;
  grid-column: 1 / -1;
  order: -1;
  margin-bottom: 20px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 42px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -25px;
  width: 8px;
  height: 12px;
  background-image: url(..img/icon-right-small.svg);
}

.breadcrumbs a{
  color: var(--basic-black);
}

/* Filters */

.filters {
  width: 220px;
  margin-bottom: 48px;
}

.filter-header {
  display: block;
  font-family: PT Sans;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-left: 18px;
  padding-bottom: 12px;
  background-color: var(--filter-background);
}

.filter {
  font-family: PT Sans;
  font-size: 15px;
  color: var(--basic-black);
  text-transform: uppercase;
  border-radius: 3px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--filter-background);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}


.price-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-controls label {
  font-family: PT Sans;
  font-size: 17px;
  line-height: 18px;
}

.price-controls input {
  display: block;
  box-sizing: border-box;
  width: 95px;
  text-align: center;
  color: var(--basic-black);
  border: none;
  border-radius: 5px;
  background: var(--filter-background);
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
}

.price-dash {
  margin: 0 10px;
}

.filter-price {
  border-bottom: 1px solid var(--basic-greylight);
  margin-bottom: 22px;
  border-bottom: 1px solid var(--basic-greylight);
}

.border {
  border: 1px solid var(--basic-greylight);
  border-bottom-width: 0;
  color: var(--basic-greylight);
  background-color: var(--basic-greylight);
}

.filter .filter-manufacturers {
  margin-top: 23px;
  margin-bottom: 34px;
}

.filter legend {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 15px;
}

.filter ul {
  list-style: none;
  line-height: 19px;
  padding: 0;
  margin: 0;
}

.range-filter {
  width: 220px;
  margin-bottom: 24px;
  
}

.filter-option {
  margin-bottom: 16px;
}

.filter-check-label,
.filter-radio-label {
  position: relative;
  padding-left: 35px;
  color: var(--basic-black);
  cursor: pointer;
}

.filter-check-label::before,
.filter-radio-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 25px;
  height: 25px;
  background-position: left center;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-check-label::before {
  background-image: url(../img/checkbox-off.svg);
}

.filter-radio-label::before {
  background-image: url(../img/radio-off.svg);
}

.filter-check-label:hover::before,
.filter-radio-label:hover::before {
  opacity: 1;
}

.filter-check-input:focus + .filter-check-label::before,
.filter-radio-input:focus + .filter-radio-label::before {
  opacity: 1;
}

.filter-check-input:checked + .filter-check-label::before {
  background-image: url(../img/checkbox-on.svg);
}

.filter-radio-input:checked + .filter-radio-label::before {
  background-image: url(../img/radio-on.svg);
}

.filter-check-input:disabled + .filter-check-label,
.filter-radio-input:disabled + .filter-radio-label {
  opacity: 0.3;
  cursor: not-allowed;
}

.filter-check-input:disabled + .filter-check-label::before,
.filter-radio-input:disabled + .filter-radio-label::before {
  opacity: 0.4;
}


/* Catalog */

.catalog {
  margin-left: 20px;
}

.catalog-sorting {
  font-family: PT Sans;
  font-size: 13px;
  text-transform: uppercase;
  padding-top: 12px;
  padding-left: 20px;
  padding-bottom: 12px;
  margin-bottom: 28px;
  background-color: var(--filter-background);
}

.sorting {
  display: inline-block;
}

.catalog-sorting ul {
  list-style: none;
  display: flex;
}

.catalog-list {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  gap: 18px 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
  list-style: none;
}

.catalog-list-home {
  grid-template-columns: 220px 220px 220px 220px;
  gap: 20px;
}

.catalog-item {
  display: flex;
  align-content: center;
  flex-direction: column;
  border: 1px solid var(--greylight);
  color: var(--basic-black);
  text-align: center;
  position: relative;
  min-height: 316px;
}

.catalog-item h3 {
  font-family: PT Sans;
  font-size: 18px;
  font-weight: bold;
  margin-top: 17px;
  margin-right: 30px;
  margin-bottom: 8px;
  margin-left: 30px;
  text-align: center;
}

.catalog-item-image {
  margin: 38px 17px 24px 17px;
}

.catalog-item-image img {
  display: block;
  width: 100%;
}

.catalog-item-price {
  font-family: PT Sans;
  font-size: 17px;
  font-weight: bold;
  color: var(--white);
  width: 154px;
  padding-top: 12px;
  padding-right: 17px;
  padding-bottom: 8px;
  margin-top: auto;
  margin-left: 39px;
  margin-bottom: 20px;
  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: 0;
  line-height: inherit;
  outline: none;
}

.catalog-item-discount {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 5px;
  color: var(--discount);
}

.catalog-item .button {
  font-size: 16px;
  line-height: 18px; 
  color: var(--basic-white);
}

.new {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
}




.catalog-modal {
  display: none;
  position: absolute;
  
  top: 0;
  left: 0;
  height: 88px;
  width: 218px;
  text-align: center;
  background: var(--white);
  padding: 37px 0 0 10px;
  z-index: 10;
}

.catalog-btn {
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2px;
}

.catalog-modal-order {
  margin: 0 auto 7px;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  position: relative;
  color: var(--white);
  padding: 11px 0 11px 0;
  background-color: var(--basic-green);
  box-shadow: inset 0 -3px 0 0 #367315;
}

.catalog-modal-order svg {
  position: absolute;
  left: 12px;
  fill: var(--white);
  opacity: 0.3;
}

.catalog-modal-bookmark {
  display: block;
  color: #32425c;
  border: 3px solid var(--basic-green);
  padding: 9px 0;
  margin: 0 0 0 0;
}

.catalog-item:hover .catalog-modal {
  display: block;
}

.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  margin-bottom: 59px;
  padding: 0;
}

.pagination-list {
  display: block;
  font-family: PT Sans;
  font-size: 13px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  margin-right: 10px;
  padding: 11px 14px 11px 15px;
}

.pagnation-list-next {
  padding: 11px 30px 11px 31px;
}

.pagination-list a {
  
  color: var(--basic-black);
}

.pagination-list a:hover,
.pagination-list a:focus {
  color: var(--basic-black);
  border-color: var(--basic-greylight);
}